<!DOCTYPE html>
<html>
<head>
<!-- <link href="/static/css/style.css" rel="stylesheet" /> -->
<meta charset=utf-8 />
<title>Cytoscape.js initialisation</title>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/cytoscape.min.js"></script>

<style TYPE="text/css">
/*    body { 
      font: 14px helvetica neue, helvetica, arial, sans-serif;
    }*/

    #cy {
      height: 500px;
      width: 500px;
      left: 100px;
      top: 100p;
    }

    #info {
      color: #c88;
      font-size: 1em;
      /*position: absolute;*/
      z-index: -1;
      left: 1em;
      top: 1em;
    }

</style>

<script>
    $(function(){ // on dom ready

    var cy = cytoscape({
      container: $('#cy')[0],
      
      style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'content': 'data(name)',
            'text-valign': 'center',
            'color': 'white',
            'text-outline-width': 2,
            'text-outline-color': '#888'
          })
        .selector(':selected')
          .css({
            'background-color': 'black',
            'line-color': 'black',
            'target-arrow-color': 'black',
            'source-arrow-color': 'black',
            'text-outline-color': 'black'
          }),
      
      elements: {
        nodes: [
          { data: { id: 'desktop', name: 'Cytoscape', href: 'http://cytoscape.org' } },
          { data: { id: 'js', name: 'Cytoscape.js', href: 'http://js.cytoscape.org' } }
        ],
        edges: [
          { data: { source: 'desktop', target: 'js' } }
        ]
      },
      
      layout: {
        name: 'grid',
        padding: 10
      }
    });
      
    cy.on('tap', 'node', function(){
      try { // your browser may block popups
        window.open( this.data('href') );
      } catch(e){ // fall back on url change
        window.location.href = this.data('href'); 
      } 
    });

    }); // on dom ready

</script>
</head>
<body>
<div class="container">
<div class="row">
Test test
<div class="lg-8">
test
<div id="cy"></div>
test_footer
</div>
test_footer 2

</div>
</div>
</body>
</html>