<!doctype html>
<html>
<head>
<title>PPI GUI</title>
<h3> Enter 2 proteins to search for the interaction or browse the list of interactions.<h3>
<script 
src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js">
from Tkinter import *
</script>


<script>
$( document ).ready(function() {
    console.log( "document loaded" );

    $('#reload_btn').on('click', function() {
        // console.log('clicked');
        $.get("/ppi/", function( response ) {
            // console.log( response.pairs ); // server response
            pairs = response.pairs;
            $('#results').text("");
            items = Array()
            for ( var i = 0; i < pairs.length; i++ ) {
                items.push( "<li> " + pairs[i][0] + " - " + pairs[i][1] + "</li>" );
                string=
                <a href="http://www.proteinatlas.org/search/">
            }

            $('#results').append( items.join( "\n" ) );
        });
    });
});


</script>
</head>
<body>

Nothing here.
<button id="reload_btn">Reload data</button>
<div id="results"></div>

</body>
<html>