<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing the REST API</title>

    <!-- <link href="/static/css/style.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<!--     <css>
        .frame {
            padding: 20px;
        }
    </css>
 -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script  src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- GETREST_PREFIX +  /structures/protein/<PROTEIN NAME>
Retrieves a list of PDB IDS and chain IDS given a UNIPROT protein name

GETREST_PREFIX +  /structures/compound/<COMPOUND>
Retrieves a list of PDB IDS containing a given PUBCHEM compound

GETREST_PREFIX +  /binding-sites/observed/protein-protein/pdb/<PDB ID>[/<CHAIN>]
Retrieve a list of observed protein-protein binding site residues given a PDB ID (and an optional chain ID).
Each binding site specifies two interacting chains, the interacting domains (when known) and a list of residues with PDB numbering.
Each residue is assigned a conservation score (highly conserved, conserved and not conserved – according to IBIS).

GETREST_PREFIX +  /binding-sites/observed/protein-protein/pdb/<PDB ID>[/<CHAIN>]
Retrieve a list of observed protein-small molecule (PUBCHEM compound) binding site residues given a PDB ID (and an optional chain ID).

GETREST_PREFIX +  /binding-sites/inferred/protein-protein/pdb/<PDB ID>[/<CHAIN>]
Retrieve a list of inferred protein-protein binding site residues given a PDB ID (and an optional chain ID)


GETREST_PREFIX +  /binding-sites/inferred/protein-compound/pdb/<PDB ID>[/<CHAIN>]
Retrieve a list of inferred protein-small molecule binding site residues given a PDB ID (and an optional chain ID)

GETREST_PREFIX +  /binding-sites/observed/protein-compound/compound/<COMPOUND>
Retrieve a list of observed protein-small molecule binding sites given a small molecule (PUBCHEM compound).

GETREST_PREFIX +  /compounds/similar/compound/<COMPOUND>
Retrieve a list of similar small molecule compounds given a small molecule (PUBCHEM compound ID). Returns MAX 50 items.

GETREST_PREFIX +  /compounds/interacting/protein/<PROTEIN NAME>
Retrieve a list of similar small molecule compounds given a small molecule (PUBCHEM compound ID).

GETREST_PREFIX +  /variants/pdb/<PDB ID>/<CHAIN>/<RESIDUE>
Retrieve all known variants given a residue number in a PDB structure.
 -->

    <script>
    $(function() {        
        // $.get("/ppi/{{taxa}}/", function( response ) {
        //     // console.log( response.pairs ); // server response
        //     pairs = response.pairs;
        //     $('#results').text("");
        //     items = Array()
        //     for ( var i = 0; i < pairs.length; i++ ) {
        //         items.push( "<li> <a href='/interface/{{taxa}}/" + pairs[i][0] + "/" + pairs[i][1] +  "/'>" + pairs[i][0] + " - " + pairs[i][1] + "</a></li>" );
        //     }
        //     $('#results').append( items.join( "\n" ) );
        // });

        // $("#submit_btn").on('click', function(){
        //     search="/interface/{{taxa}}/"+ $("#in1").val() + "/" + $("#in2").val() + "/";
        //     window.location=search;
        // });
        var rest_prefix = "{{ url_for('.home') }}{{ prefix }}".substr(1);
        $("#api1").data('url', rest_prefix  + "structures/protein/");
        $("#api2").data('url', rest_prefix  + "structures/compound/");
        $("#api3").data('url', rest_prefix  + "binding-sites/observed/protein-protein/pdb/");
        $("#api4").data('url', rest_prefix  + "binding-sites/observed/protein-compound/pdb/");
        $("#api5").data('url', rest_prefix  + "binding-sites/inferred/protein-protein/pdb/");
        $("#api6").data('url', rest_prefix  + "binding-sites/inferred/protein-compound/pdb/");
        $("#api7").data('url', rest_prefix  + "binding-sites/observed/protein-compound/compound/");
        $("#api8").data('url', rest_prefix  + "compounds/similar/compound/");
        $("#api9").data('url', rest_prefix  + "compounds/interacting/protein/");
        $("#api10").data('url', rest_prefix  + "variants/pdb/");

        $("form").on('submit', function(e){
            e.preventDefault();
            var input1 = $(this).find('input[name="input1"]')
            var input2 = $(this).find('input[name="input2"]')
            var input3 = $(this).find('input[name="input3"]')
            if (input1 && input1.val()) {
                var action = $(this).data('url') + input1.val();
                if (input2 && input2.val()) {
                    action = action + '/' + input2.val();
                }
                if (input3 && input3.val()) {
                    action = action + '/' + input3.val();
                }
            } else {
                alert('no input provided');
                return;
            }
            // $(this).attr("action", action);
            window.location = action;
        });
    });
    </script>

</head>
<body>
<h3>Testing IBIS REST API</h3>
<br>


<div class="container">

<!--     <div class="row">
        <div class="col-lg-12">
            <form class="form-search" role="form">
                    <h4>/structures/protein/<PROTEIN NAME></h4>
                        A
                        <input id="in1" type="text">
                        B
                        <input id="in2" type="text">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>
 -->
    <div class="row">
        <div class="col-lg-12">
            <form id="api1" class="form-search" role="form" method="GET" action="">
                    <h4>1. /structures/protein/PROTEIN_NAME</h4>
                        protein or gene name
                        <input name="input1" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api2" class="form-search" role="form" method="GET" action="">
                    <h4>2. /structures/compound/COMPOUND_ID</h4>
                        compound id
                        <input name="input1" type="text" value="" placeholder="71304809">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api3" class="form-search" role="form" method="GET" action="">
                    <h4>3. /binding-sites/observed/protein-protein/pdb/PDB/[CHAIN]</h4>
                        pdb
                        <input name="input1" type="text" value="4HG7">
                        entity (chain)
                        <input name="input2" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api4" class="form-search" role="form" method="GET" action="">
                    <h4>4. /binding-sites/observed/protein-compound/pdb/PDB/[CHAIN]</h4>
                        pdb
                        <input name="input1" type="text" value="4HG7">
                        entity (chain)
                        <input name="input2" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api5" class="form-search" role="form" method="GET" action="">
                    <h4>5. /binding-sites/inferred/protein-protein/pdb/PDB/[CHAIN]</h4>
                        pdb
                        <input name="input1" type="text" value="4HG7">
                        entity (chain)
                        <input name="input2" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api6" class="form-search" role="form" method="GET" action="">
                    <h4>6. /binding-sites/inferred/protein-compound/pdb/PDB/[CHAIN]</h4>
                        pdb
                        <input name="input1" type="text" value="4HG7">
                        entity (chain)
                        <input name="input2" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>
    <div class="row">
        <div class="col-lg-12">
            <form id="api7" class="form-search" role="form" method="GET" action="">
                    <h4>7. /binding-sites/observed/protein-compound/compound/COMPOUND</h4>
                        compound ID
                        <input name="input1" type="text" value="4HG7">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api8" class="form-search" role="form" method="GET" action="">
                    <h4>8. /compounds/similar/compound/COMPOUND</h4>
                        compound ID
                        <input name="input1" type="text" value="11433190">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api9" class="form-search" role="form" method="GET" action="">
                    <h4>9. /compounds/interacting/protein/PROTEIN_NAME</h4>
                        protein or gene name
                        <input name="input1" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>
    
    <div class="row"><div class="col col-lg-12"><hr></div></div>

    <div class="row">
        <div class="col-lg-12">
            <form id="api10" class="form-search" role="form" method="GET" action="">
                    <h4>10. /variants/pdb/PDB/CHAIN/RESIDUE</h4>
                        pdb
                        <input name="input1" type="text" value="">
                        entity (chain)
                        <input name="input2" type="text" value="">
                        residue
                        <input name="input3" type="text" value="">
                    <button id="submit_btn" class="btn btn-default">Request</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>